{% extends "./padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">EMPLEADOS</h1>
{% endblock %}

{% block contenido_que_cambia %}


<form action="{% url 'empleado' %}" method="POST"> 
    
    {% csrf_token %}

    <h2>Alta de Empeados </h2><br>
    <table><center>
        {{ form.as_table }}
    </center></table>
    
    
    <input type="submit" value="Guardar"
        style = 'margin: 1rem 0;
        color: #ffffff;
        background-color: #1883ba;
        border: 0;
        border-radius: 10px;
        padding: 5px 20px;
        opacity: 0.9'  >
    
    
    </form>

{% endblock %}