{% extends "./padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Listado de Contribuyentes</h1>
{% endblock %}

{% block contenido_que_cambia %}

<div 
    
    <h2>Listado de Conceptos </h2>
    <ul>
    <h1> </h1><br>
        {% for concepto in conceptos %}


        <li><b>Concepto:</b> {{ concepto.descripcion }} <br>
            {% if concepto.remunerativo %}
            <label><input type="checkbox" name="remunerativo" checked  onclick="return false;"> Remunerativo</label><br>
        {% else %}
            <label><input type="checkbox" name="remunerativo" onclick="return false;"> Remunerativo</label><br>
        {% endif %}
        <br> 
        </li>
        

        {% endfor %}


    </ul>
</div>


{% endblock %}