{% extends "./padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Listado de Contribuyentes</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h2>Listado de Empleados (CUIT - Denominación - Empleador - Empleado)</h2>
<ul>
<h1> </h1><br><br>
    {% for contribuyente in contribuyentes %}


    <li>{{ contribuyente.cuit }} - {{ contribuyente.denominacion }} - {{ contribuyente.empleador }} - {{ contribuyente.empleado }}

    <br> 
    </li>
    
    <a class="btn btn-success" href = "{% url 'editarContribuyente' contribuyente.cuit %}">Editar</a><br><br>
    {% endfor %}


</ul>


{% endblock %}